body {
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $default-font-size;
  color: $color-grey-primary;
}

.heading-primary {
  color: $color-black;
  font-weight: 600;
  &-1 {
    font-size: 4.8rem;
  }
  &-2 {
    font-size: 4.2rem;
  }
}

.heading-secondary {
  font-weight: 600;
  font-size: 2.2rem;
}

.paragraph {
  font-weight: 400;
  font-size: $default-font-size;
  color: $color-grey-primary;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
