$color-primary: #1de981;
$color-secondary: #3173e1;
$color-tertiary: #ebf3fd;

$color-white: #fff;

$color-black: #000;

$color-grey-primary: #323232;
$color-grey-secondary: #575757;

$heading-size1: 4.8rem;
$heading-size2: 4.2rem;
$heading-size3: 3.6rem;
$heading-size4: 2.4rem;

$default-font-size: 2.2rem;
$font-size1: 1.8rem;
$font-size2: 2rem;
